<html>
    <head>
        <title>{% block title %}UC Dashboard{% endblock %}</title>
        {% block extra_head %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}media/css/reset.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}media/css/text.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}media/css/grid.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}media/css/layout.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}media/css/nav.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}media/css/base.css" media="screen" />
        <!--[if IE 6]>
            <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}media/css/ie6.css" media="screen" />
        <![endif]-->
        <!--[if IE 7]>
            <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}media/css/ie.css" media="screen" />
        <![endif]-->
    </head>
    <body>
    <div id="branding">
    <h1 id="branding-h1">
       {% block branding %}
        <a href="/">UC Dashboard</a>
       {% endblock %}
    </h1>
        <div class="navbar">
            <ul class="nav main">
                <li><a href="/">home</a></li>
                <li><a href="/admin/">admin</a></li>
                <li><a href="/about/">about</a></li>
            </ul>
        </div>
    </div>


        <div class="container_16">
            <div class="clear"></div>
            <div class="grid_16">
                <h2 id="page-heading">{% block page_title %}{% endblock %}</h2>
            </div>
            <div class="clear"></div>
            <div class="grid_16">
                {% block content %}{% endblock %}
            </div>
            <div class="clear"></div>
            {% block extra-content %}{% endblock %}
			<div class="clear"></div>
        </div>
    <div id="site_info">
        <div class="sitebox">
            <p><a href="http://github.com/swilcox/ucdash">UC Dashboard</a> | powered by <a href="http://djangoproject.org">Django</a> | <a href="http://www.python.org">Python</a></p>
        </div>
    </div>

		<script type="text/javascript" src="{{ MEDIA_URL }}media/js/mootools-1.2.1-core.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}media/js/mootools-1.2-more.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}media/js/mootools-fluid16-autoselect.js"></script>
    </body>
</html>
