{% extends "base.html" %}
{% block page_title %}
    Overview
{% endblock %}

{% block content %}
    {% for jg in job_groups %}
    <div class="grid_16">
        <div class="box">
              <h2><a href="#" id="toggle-{{ jg.slug }}-details">{{ jg.name }}</a></h2>
              <div class="block" id="{{ jg.name }}-details">
                  <div class="job_group_description">{{ jg.description }}</div>
                  <table class="job_listings">
                  <thead><tr><th>job</th><th>date/time</th><th>.</th><th>status</th><th>multipart-status<br/>current</th><th>multipart-status<br/>previous</th></tr></thead>
                  <tbody>
                  {%  for j in jg.jobs.all %}
                      <tr>
                          <td><a href="{{ j.get_absolute_url }}">{{ j.name }}</a></td>
                          <td>{{ j.notifications.latest.at }}</td>
                          <td>{% for ei in j.notifications.latest.extra_info.all %}{% if ei.field_name in j.extra_display_fields_list %}{{ ei }}{% endif %}{% endfor %}</td>
                          <td>{{ j.notifications.latest.result }}</td>
                          <td>{% if j.multipart_flag %}good: {{ j.multipart_status.good_parts.count }} errors: {{ j.multipart_status.error_parts.count }} missing: {{ j.multipart_status.missing_parts|length }}{% else %}-{% endif %}</td>
                          <td>{% if j.multipart_flag %}good: {{ j.multipart_status_previous.good_parts.count }} errors: {{ j.multipart_status_previous.error_parts.count }} missing: {{ j.multipart_status_previous.missing_parts|length }}{% else %}-{% endif %}</td>

                      </tr>
                  {% endfor %}
                  </tbody>
                  </table>
              </div>
        </div>
    </div>
    <div class="clear"></div>
    {% endfor %}

{% endblock %}