{% extends "base.html" %}
{% block page_title %}
    Overview
{% endblock %}

{% block content %}
    {% for jg in job_groups %}
    <div class="grid_8">
        <div class="box">
              <h2><a href="#" id="toggle-{{ jg.slug }}-details">{{ jg.name }}</a></h2>
              <div class="block" id="{{ jg.name }}-details">
                  <div class="job_group_description">{{ jg.description }}</div>
                  <table class="job_listings">
                  <thead><tr><th>job</th><th>date/time</th><th>status</th></tr></thead>
                  <tbody>
                  {%  for j in jg.jobs.all %}
                      <tr><td><a href="{{ j.get_absolute_url }}">{{ j.name }}</a></td><td>{{ j.notifications.all.0.at }}</td><td>{{ j.notifications.all.0.result }}</td></tr>
                  {% endfor %}
                  </tbody>
                  </table>
              </div>
        </div>
    </div>
    {% cycle '' '<div class="clear"></div>' %}
    {% endfor %}

{% endblock %}