{% extends "base.html" %}
{% block extra_head %}

<script src="{{ MEDIA_URL }}media/js/adapters/mootools-adapter.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}/media/js/highcharts.js" type="text/javascript"></script>

<script type="text/javascript">
    {% for metric_name, metric in metrics.items %}
var chart{{ forloop.counter }}; // globally available
window.addEvent('domready', function() {
      chart{{ forloop.counter }} = new Highcharts.Chart({
         chart: {
            renderTo: 'metric_{{ forloop.counter }}',
         defaultSeriesType: 'line',
         marginRight: 130,
         marginBottom: 25
      },
      title: {
         text: '{{ metric_name }}',
         x: -20 //center
      },
      subtitle: {
         text: 'job: {{ job.name }}',
         x: -20
      },
      xAxis: {
         categories: [{% for m in metric.events %}'{{ m }}',{% endfor %}]
      },
      yAxis: {
         title: {
            text: '{{ metric.data_label }}'
         },
         plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
         }]
      },
      tooltip: {
         formatter: function() {
                   return '<b>'+ this.series.name +'</b><br/>'+
               this.x +': '+ this.y +'';
         }
      },
      legend: {
         layout: 'vertical',
         align: 'right',
         verticalAlign: 'top',
         x: -10,
         y: 100,
         borderWidth: 0
      },
      series: [
        {% for mdata in metric.metric_data %}
         {
         name: '{{ mdata.field_name }}',
         data: [{% for d in mdata.data %}{{ d }},{% endfor %}]
         },
        {% endfor %}
        ]
      });
   });
    {% endfor %}
</script>
{% endblock %}
{% block page_title %}
    {{ job.name }}
{% endblock %}

{% block content %}
    <div class="grid_4">
    <table>
        <thead><tr><th>field</th><th>value</th></tr></thead>
        <tbody>
            <tr><td>Name</td><td>{{ job.name }}</td></tr>
            <tr><td>API URL</td><td>http://{{ host }}{% url api:job_notify job_slug=job.slug %}</td></tr>
            <tr><td>Description</td><td>{{ job.description }}</td></tr>
        </tbody>
    </table>
    </div>
    <div class="notifications grid_12">
    <table>
        <thead><th>at</th><th>duration (ms)</th><th>result</th><th width="50%">log</th></thead>

    {% for n in job.notifications.all|slice:":5" %}
            <tr>
                <td><a href="{{ n.get_absolute_url }}">{{ n.at|date:"Y-m-d h:i:s A" }}</a></td><td>{{ n.duration }}</td><td>{{ n.result }}</td><td><pre>{{ n.log|slice:":200" }}</pre></td>
            </tr>
    {% endfor %}
    </table>
    </div>
    <div class="clear"></div>
    {% for metric_name, metric in metrics.items %}
    <div class="metric" id="metric_{{ forloop.counter }}">

    </div>
    {% endfor %}

{% endblock %}