{% extends "base.html" %}
{% block extra_head %}

<script src="{{ MEDIA_URL }}media/js/adapters/mootools-adapter.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}/media/js/highcharts.js" type="text/javascript"></script>

<script type="text/javascript">
    {% for metric_name, metric in metrics.items %}
var chart{{ forloop.counter }}; // globally available
window.addEvent('domready', function() {
      chart{{ forloop.counter }} = new Highcharts.Chart({
         chart: {
            renderTo: 'metric_{{ forloop.counter }}',
         defaultSeriesType: 'line',
         marginRight: 130,
         marginBottom: 25
      },
      title: {
         text: '{{ metric_name }}',
         x: -20 //center
      },
      subtitle: {
         text: 'job: {{ job.name }}',
         x: -20
      },
      xAxis: {
         categories: [{% for m in metric.events %}'{{ m }}',{% endfor %}]
      },
      yAxis: {
         title: {
            text: 'data (to-do: name this)'
         },
         plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
         }]
      },
      tooltip: {
         formatter: function() {
                   return '<b>'+ this.series.name +'</b><br/>'+
               this.x +': '+ this.y +'';
         }
      },
      legend: {
         layout: 'vertical',
         align: 'right',
         verticalAlign: 'top',
         x: -10,
         y: 100,
         borderWidth: 0
      },
      series: [{
         {% for mdata in metric.metric_data %}
         name: '{{ mdata.field_name }}',
         data: [{% for d in mdata.data %}{{ d }},{% endfor %}]
         {% endfor %}
      }]
      });
   });
    {% endfor %}
</script>
{% endblock %}
{% block page_title %}
    {{ job.name }}
{% endblock %}

{% block content %}
    <div><span>Name:</span> {{ job.name }}</div>
    <div><span>Slug:</span> {{ job.slug }}</div>
    <div><span>Description:</span> {{ job.description }}</div>
    <div class="notifications">
    <table>
        <tr><th>at</th><th>result</th><th>log</th></tr>

    {% for n in job.notifications.all|slice:":5" %}
            <tr>
                <td><a href="{{ n.get_absolute_url }}">{{ n.at|date:"Y-m-d h:i:s A" }}</a></td><td>{{ n.result }}</td><td><pre>{{ n.log|slice:":200" }}</pre></td>
            </tr>
    {% endfor %}
    </table>
    </div>
    {% for metric_name, metric in metrics.items %}
    <div class="metric" id="metric_{{ forloop.counter }}">

    </div>
    {% endfor %}

{% endblock %}