{% extends "base.html" %}
{% block page_title %}
    Job Notification Detail
{% endblock %}

{% block content %}
    <table>
       <thead><tr><th>field</th><th>value</th></tr></thead>
       <tr></tr><td>Result:</td><td> {{ notification.result }}</td></tr>
       <tr></tr><td>Date/Time:</td><td> {{ notification.at }}</td></tr>
       <tr></tr><td>Duration:</td><td> {{ notification.duration }}ms</td></tr>
            {% for e in notification.extra_info.all %}
            <tr><td>{{ e.field_name }}</td><td>{{ e.field_value }}</td></tr>           
            {% endfor %}
    </table>    
    <div class="log_view">
    <pre>{{ notification.log }}</pre>
    </div>

{% endblock %}